# =========================
# Vivado 项目中间文件
# =========================

# 综合/实现/仿真运行目录
Zynq_GPGPU_Core.runs/
Zynq_GPGPU_Core.sim/
Zynq_GPGPU_Core.gen/
Zynq_GPGPU_Core.cache/
Zynq_GPGPU_Core.hw/
Zynq_GPGPU_Core.ip_user_files/

# Vivado 隐藏缓存
.Xil/

# Vivado 日志和回放脚本
*.jou
*.log
*.str

# 综合/实现中间文件
*.dcp
*.hwdef
*.sysdef
*.wdb
*.wpc

# Block Design 自动生成文件
Zynq_GPGPU_Core.srcs/sources_1/bd/gpu_system/ui/
Zynq_GPGPU_Core.srcs/sources_1/bd/gpu_system/*.bda
Zynq_GPGPU_Core.srcs/utils_1/

# IP 升级日志
ip_upgrade.log

# 一些没啥用的html
*.html

# =========================
# Vitis / BSP / PS 生成文件
# =========================

# 整个 BSP 目录 (从 .xsa 自动生成，不需要跟踪)
GPU_PS/ps7_cortexa9_0/
GPU_PS/zynq_fsbl/
GPU_PS/export/

# Vitis IDE 配置
_ide/
.rigel_lopper/
.vscode

# =========================
# 二进制 / 构建产物
# =========================

# 编译输出
tools/gpuasm
*.elf
*.bin
*.o
*.d
*.a

# FPGA 比特流和硬件导出
*.bit
*.xsa
*.pb
*.rpt
xsim.dir/

# =========================
# CMake / 构建系统
# =========================

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.ninja
.ninja_*
.buildstatus
.hash-map.txt

# =========================
# 编辑器 / 工具缓存
# =========================

.cache/
.vscode/
tmp/
.clangd
*.idx

# =========================
# 临时文件 / OS 文件
# =========================

*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db

# =========================
# 模型文件/模型权重
# =========================

*.npz
*.gz
t10k-images-idx3-ubyte
t10k-labels-idx1-ubyte
train-images-idx3-ubyte
train-labels-idx1-ubyte